.reset-password-container {
    max-width: 600px;
    margin: 10vw;
    margin-left: 32vw;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .formg {
    margin-bottom: 25px;
  }
  
  label {
    display: block;
    margin-bottom: 20px;
  }
  
