<header class="header" data-header>
  <div class="container">

    <a routerLink="/p" class="logo">
      <img src="assets/images/logo.png" width="141" height="28" alt="Jassa home">
    </a>

    <nav class="navbar" data-navbar >
      <ul class="navbar-list">

        <li class="navbar-item">
          <a routerLink="/home" class="label-lg navbar-link has-after">Home</a>
        </li>

        <li class="navbar-item">
          <a routerLink="/service"  class="label-lg navbar-link has-after">Services</a>
        </li>

        <li class="navbar-item">
          <a routerLink="/portfolio"  class="label-lg navbar-link has-after">Portfolio</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/bootcamp"  class="label-lg navbar-link has-after">Bootcamp</a>
        </li>

        <li class="navbar-item">
          <a routerLink="/contact"  class="label-lg navbar-link has-after">Contact</a>
        </li>
        

      </ul>
    </nav>

    <a routerLink="/login" class="btn btn-primary">Log out</a>

    <button class="nav-toggle-btn" aria-label="menu" data-nav-toggler >
      <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
    </button>

  </div>
</header>

<main>
    <article>

      <section class="section service has-bg-image" aria-labelledby="service-label"
        style="background-image: url('assets/images/service-bg.png')">
        <div class="container">

          <h2 class="section-title headline-md text-center" id="service-label">My Services</h2>

          <ul class="service-list">

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="phone-portrait-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">App Development</h3>

                  <p class="body-sm">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(41, 99%, 64%)">

                <div class="card-media">
                  <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Front-end</h3>

                  <p class="body-sm">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(19, 97%, 85%)">

                <div class="card-media">
                  <ion-icon name="stats-chart-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Photoshop Design</h3>

                  <p class="body-sm">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(221, 100%, 79%)">

                <div class="card-media">
                  <ion-icon name="shapes-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">3D Design</h3>

                  <p class="body-sm">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(76, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="code-slash-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Development</h3>

                  <p class="body-sm">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(245, 100%, 90%)">

                <div class="card-media">
                  <ion-icon name="globe-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Back-end</h3>

                  <p class="body-sm">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                  </p>
                </div>

              </div>
            </li>
          </ul>

        </div>
      </section>

    </article>
  </main>
  <app-footer></app-footer>