<header class="header" data-header>
  <div class="container">
    <a routerLink="/p" class="logo">
      <img src="assets/images/logo.png" width="141" height="28" alt="Jassa home">
    </a>

    <nav class="navbar" data-navbar >
      <ul class="navbar-list">

        <li class="navbar-item">
          <a routerLink="/home" class="label-lg navbar-link has-after">Home</a>
        </li>

        <li class="navbar-item">
          <a routerLink="/service"  class="label-lg navbar-link has-after">Services</a>
        </li>

        <li class="navbar-item">
          <a routerLink="/portfolio"  class="label-lg navbar-link has-after">Portfolio</a>
        </li>

        <li class="navbar-item">
          <a routerLink="/bootcamp"  class="label-lg navbar-link has-after">Bootcamp</a>
        </li>

        <li class="navbar-item">
          <a routerLink="/contact"  class="label-lg navbar-link has-after">Contact</a>
        </li>

      </ul>
    </nav>

    <a routerLink="/login" class="btn btn-primary">Log out</a>

    <button class="nav-toggle-btn" aria-label="menu" data-nav-toggler >
      <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
    </button>

  </div>
</header>
<main>
  <article>
    <section class="section portfolio" aria-labelledby="portfolio-label">
      <div class="container">

        <h2 class="section-title headline-md text-center" id="portfolio-label">Latest Projects</h2>

        <ul class="portfolio-list">

          <li>
            <div class="portfolio-card">

              <div class="card-banner img-holder" style="--width: 1400; --height: 640;">
                <img src="./assets/images/portfolio-1.png" width="800" height="540" loading="lazy"
                  alt="Website Design for Marketing Agency Startup" class="img-cover">

                <a href="https://hayderlabidi.github.io/JUMANJI/project.html" target="_blank" class="btn-icon"
                  aria-label="More about Website Design for Marketing Agency Startup">
                  <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                </a>
              </div>

              <div class="card-content" >
                  <span class="chip label-md">Web Design</span>

                  <h3 class="title-md">Website Design for sponsoring a film</h3>

                  <p class="card-text">
                    I crafted a captivating online platform for a sponsored film project, seamlessly blending artistic
                    vision with technical finesse.
                  </p>

                  <a href="https://hayderlabidi.github.io/JUMANJI/project.html" target="_blank"
                    class="btn btn-primary">View Project</a>
              </div>

            </div>
          </li>


          <li>
            <div class="portfolio-card">

              <div class="card-banner img-holder" style="--width: 1400; --height: 640;">
                <img src="./assets/images/portfolio-2.png" width="800" height="540" loading="lazy"
                  alt="Website Design for Marketing Agency Startup" class="img-cover">

                <a href="https://hayderlabidi.github.io/My.second.page/Art.html" target="_blank" class="btn-icon"
                  aria-label="More about Website Design for Marketing Agency Startup">
                  <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                </a>
              </div>

              <div class="card-content">

                <span class="chip label-md">Web Design</span>

                <h3 class="title-md">Website Design for marketing Agency</h3>

                <p class="card-text">
                  Employing a strategic fusion of creativity and functionality, I meticulously crafted a cutting-edge
                  website design tailored for a dynamic marketing agency.
                </p>

                <a href="https://hayderlabidi.github.io/My.second.page/Art.html" target="_blank"
                  class="btn btn-primary">View Project</a>

              </div>

            </div>
          </li>

          <li>
            <div class="portfolio-card">

              <div class="card-banner img-holder" style="--width: 1400; --height: 640;">
                <img src="./assets/images/portfolio-3.png" width="800" height="540" loading="lazy"
                  alt="Website Design for Marketing Agency Startup" class="img-cover">

                <a href="https://hayderlabidi.github.io/Hayder_Calculator/claculator.html" target="_blank"
                  class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                  <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                </a>
              </div>

              <div class="card-content">

                <span class="chip label-md">Web Design</span>

                <h3 class="title-md">Website Design for Calculator</h3>

                <p class="card-text">

                  I engineered a sleek and intuitive web design for a calculator application, seamlessly blending form
                  and function.
                </p>

                <a href="https://hayderlabidi.github.io/Hayder_Calculator/claculator.html" class="btn btn-primary"
                  target="_blank">View Project</a>

              </div>

            </div>
          </li>

        </ul>

      </div>
    </section>

  </article>
</main>

<app-footer></app-footer>